<!--
SPDX-FileCopyrightText: 2022 SAP SE or an SAP affiliate company and LICENSE-assistant contributors

SPDX-License-Identifier: Apache-2.0
-->

<div class="modal-body modal-primary">
    <div ng-click="cancel()" class="fa fa-times close-button"></div>

    <div class="free-space">
        <h4>How can I create a LICENSE Gist?</h4>
        <div>
        		At <a href="https://gist.github.com" target="_blank" class="text-primary">gist.github.com</a> enter a file name and paste the content of your LICENSE.
        </div>
    </div>

    <div class="free-space">
        <h4>What happens if I edit the Gist file?</h4>
        <div>
        	License Assistant will always show you the current version of your Gist file. Users who accept your LICENSE sign the current version. If you change the content of your LICENSE, each contributor has to accept the new version when they create a new pull request.
        </div>
    </div>

</div>